# api key for connctiong to sms server
API_KEY = ''

# call back token for process incomming sms
CALL_BACK_TOKEN = ''

# sms server address
SMS_SERVER = '' 

# mysql 
MYSQL_HOST = 'localhost'
MYSQL_DATABASE = 'sms_db'
MYSQL_USERNAME = 'root'
MYSQL_PASSWORD = 'secret'

# secret key for session
SECRET_KEY = ''

# auth credentials
USERNAME = ''
PASSWORD = ''

# upload directory config - do not change blow
UPLOAD_DIRECTORY = '/tmp'
ALLOWED_EXTENSIONS = ['xlsx']