# api key for connctiong to sms server
API_KEY = ''

# call back token for process incomming sms
CALL_BACK_TOKEN = ''

# sms server address
SMS_SERVER = '' 

# file of database
DATABASE_FILE_PATH = ''

# secret key for session
SECRET_KEY = ''

# auth credentials
USERNAME = ''
PASSWORD = ''

# upload directory config - do not change blow
UPLOAD_DIRECTORY = '/tmp'
ALLOWED_EXTENSIONS = ['xlsx']